{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ data.name }}</h2>
    <div>
        <table>
            <thead>
                <th>Name</th>
                <th></th>
                <th>English</th>
                <th>Japanese</th>
                <th>Chinese</th>
                <th>Korean</th>
            </thead>
            <tbody>
            {% for key, value in audio %}
                <tr>
                    <td class="name">{{ value }}</td>
                    <td class="audio"><a href="assets/audio/{{ data.name | replace({' ': ''}) }}/{{ key }}.mp3"><span class="material-symbols-outlined">play_arrow</span></a></td>
                    <td class="lang">{{ data[key].en }}</td>
                    <td class="lang">{{ data[key].jp }}</td>
                    <td class="lang">{{ data[key].cn }}</td>
                    <td class="lang">{{ data[key].kr }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <audio hidden></audio>
{% endblock %}