{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ data.name }}</h2>
    <div>
        <table>
            <thead>
                <th>Name</th>
                <th></th>
                <th>English</th>
                <th>Japanese</th>
                <th>Chinese</th>
                <th>Korean</th>
            </thead>
            <tbody>
            {% for file in audio %}
                <tr>
                    <td class="name">{{ file }}</td>
                    <td class="audio"><a href="assets/audio/{{ data.name | replace({' ': ''}) }}/{{ file }}.mp3"><span class="material-symbols-outlined">play_arrow</span></a></td>
                    <td class="lang">{{ data[file].en }}</td>
                    <td class="lang">{{ data[file].jp }}</td>
                    <td class="lang">{{ data[file].cn }}</td>
                    <td class="lang">{{ data[file].kr }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}